.pagehead {
	
	width:100%;
	
	border: 4px #d5e8f0;
	border-radius: 0;
	display:flex;
	flex-direction:row;
	margin:0;
	padding:10px;
	justify-content: center;
	align-items:center;
	flex-wrap: rap;

}


.navigation{
	height:50px;
	width:100%;
	display:flex;
	justify-content: space-around;
	align-content:center;
	align-items:center;
}
.navbutton{
	border: none 1px black;
	background:#FFFFFF;
	padding:12px 7px 12px 7px;
	color:#050708;
	font-family:arial;
}
.navbutton:active {
   	 outline:none;
	border: none;
}
.navbutton:focus {
   	 outline:none;
	border: none;
}
.navbutton:hover{
	/* background-color: */
	text-decoration: underline overline;
	text-decoration-color: #dfdfdf;
	text-decoration-thickness:5px;
	cursor: grab;
		
}

.diagramdiv{
	width:100%;
	display:flex;
	flex-direction: column;
	align-items:center;
	
}

.diagramimg{
	 max-width: 100%;
            max-height: 100vh;
	flex-basis:auto;
}
.title{
	font-family:georgia;
}
.writingdiv{
	width:90%;
	margin: auto;
}
.pagetitle {
	
	width:100%;
	border-radius: 0;
	display:flex;
	flex-direction:row;
	margin:0;
	justify-content: center;
	align-items:center;
	flex-wrap: rap;

}
.writingimg{
	max-width: 45%;
	margin: auto;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.homebutton{
	border: none 1px black;
	background:#FFFFFF;
	padding:12px 7px 12px 7px;
	color:#050708;
	font-family:arial;
	text-decoration: underline;
	text-decoration-color: #dfdfdf;
}
.writingimgg{
	width:250px;
	height:auto;
	margin: auto;
	float: right;
	clear: left;
}
.writingimggg{
	width:auto;
	height:150px;
	margin: auto;
	float: right;
	clear: left;
}
.eimg{
	width:35%;
	margin: auto;
}
.subdiv{
	margin: 25px, 0;, 25px, 0px;
